.footer {
    background-color: #76777B; /* IIT Gray */
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9rem;
  }
  